<%= form_with(model: nominee, local: true) do |form| %>
  <% if nominee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(nominee.errors.count, "error") %> prohibited this nominee from being saved:</h2>

      <ul>
        <% nominee.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nomination_id %>
    <%= form.text_field :nomination_id %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :emp_code %>
    <%= form.text_field :emp_code %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
