<p id="notice"><%= notice %></p>

<h1>Award Masters</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Award type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @award_masters.each do |award_master| %>
      <tr>
        <td><%= award_master.title %></td>
        <td><%= award_master.award_type %></td>
        <td><%= link_to 'Show', award_master %></td>
        <td><%= link_to 'Edit', edit_award_master_path(award_master) %></td>
        <td><%= link_to 'Destroy', award_master, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Award Master', new_award_master_path %>
