<div class="container-fluid" style="text-align: left;">
    <h3 style="padding:10px;font-weight: bolder;">Chairman's Dashboard</h3>
</div>

<div class="content" style="margin-top:0px; min-height: 600px !important;">
    <div class="container-fluid" id="">
        <div class='card'>
            <div class='card-header' data-background-color=blue>
                <ul class="nav nav-tabs">
                    <li class='active'><a data-toggle="tab" class='tab' id='btnhome'  onclick='doSwitch("home")'>The Most Inspiring Leader</a></li>
                    <li><a data-toggle="tab" class='tab' id='btnmenu1' onclick='doSwitch("menu1")'>The Best Employee</a></li>
                    <li><a data-toggle="tab" class='tab' id='btnmenu2'  onclick='doSwitch("menu2")'>The Most Innovative Employee</a></li>
                    <li><a data-toggle="tab" class='tab' id='btnmenu3' onclick='doSwitch("menu3")'>The Best Cross-Function Team</a></li>
                    <li><a data-toggle="tab" class='tab' id='btnmenuall' onclick='doSwitch("all")'>All</a></li>
                </ul>
            </div>
            <div class='card-content'>
                <div class="tab-content">
                    <div id="home" class="tab-pane fade in active">
                        <h3>The Most Inspiring Leader</h3>
                        <div class='row'>
                            <div class='col-md-6'>
                                <h4>Winners</h4>
                                <% @most_inspiring_leaders_nominations.each do |nomination| %>
                                    <% nominee = nomination.nominees.last.user %>
                                    <div class='col-md-6'>
                                        <div class='card'>
                                            <div class='card-header card-header-middle' data-background-color="orange">
                                                <h4><%= nominee.employee.name %></h4>
                                            </div>
                                            <div class='card-content'>  
                                                <p><%= nominee.employee.department %> </p>
                                                <p><%= nominee.employee.emp_code.rjust(5,'0') rescue nominee.employee.emp_code %> </p>
                                                <div class='pull-right'><%= image_tag(nominee.companies.last.logo.url,{class:'company_logo'}) %></div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <% if nomination.state == 'approved' %>
                                                <p>Approved</p>
                                            <% else %>
                                                <div class="col-md-4">
                                                    <button class='btn btn-warning btn-sm' onclick="pushback(<%= nomination.id %>)"> PB <i class='material-icons'>done</i></button>
                                                </div>
                                                <div class="col-md-4">
                                                    <button class='btn btn-success btn-sm' onclick="approve(<%= nomination.id %>)"> A <i class='material-icons'>done</i></button>
                                                </div>
                                                <div class="col-md-4">
                                                    <button class='btn btn-danger btn-sm' onclick="reject(<%= nomination.id %>) ">R <i class='material-icons'>clear</i></button>
                                                </div>
                                            <% end %>
                                        </div>
                                    </div>
                                <% end %>
                            </div>
                            <div class='col-md-6'>
                                <h4>Comments</h4>
                                <%= raw(@most_inspiring_leaders_verdict) %>
                            </div>
                        </div>
                    </div>

                    <div id="menu1" class="tab-pane fade">
                        <h3>The Best Employee</h3>
                        <div class='row'>
                            <div class='col-md-6'>
                                <h4>Winners</h4>
                                <% @best_employee_nominations.each do |nomination| %>
                                    <% nominee = nomination.nominees.last.user %>
                                    <div class='col-md-6'>
                                        <div class='card'>
                                            <div class='card-header card-header-middle' data-background-color="orange">
                                                <h4><%= nominee.employee.name %></h4>
                                            </div>
                                            <div class='card-content'>
                                                    <%= nominee.employee.department %> <br>
                                                    <%= nominee.employee.emp_code %>
                                                    <%= image_tag(nominee.companies.last.logo.url, height: '12', width: '12') %>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <% if nomination.state == 'approved' %>
                                                <p>Approved</p>
                                            <% else %>
                                                <div class="col-md-4">
                                                    <button class='btn btn-warning btn-sm' onclick="pushback(<%= nomination.id %>)"> PB <i class='material-icons'>done</i></button>
                                                </div>
                                                <div class="col-md-4">
                                                    <button class='btn btn-success btn-sm' onclick="approve(<%= nomination.id %>)"> A <i class='material-icons'>done</i></button>
                                                </div>
                                                <div class="col-md-4">
                                                    <button class='btn btn-danger btn-sm' onclick="reject(<%= nomination.id %>) ">R <i class='material-icons'>clear</i></button>
                                                </div>
                                            <% end %>
                                        </div>
                                    </div>
                                <% end %>
                            </div>
                            <div class='col-md-6'>
                                <h4>Comments</h4>
                                <%= raw(@best_employee_verdict) %>
                            </div>
                        </div>
                    </div>
                    <div id="menu2" class="tab-pane fade">
                        <h3>The Most Innovative Employee</h3>
                        <div class='row'>
                            <div class='col-md-6'>
                                <h4>Winners</h4>
                                <% @most_innovative_employee_nominations.each do |nomination| %>
                                    <% nominee = nomination.nominees.last.user %>
                                    <div class='col-md-6'>
                                        <div class='card'>
                                            <div class='card-header card-header-middle' data-background-color="orange">
                                                <h4><%= nominee.employee.name %></h4>
                                            </div>
                                            <div class='card-content'>
                                                    <%= nominee.employee.department %> <br>
                                                    <%= nominee.employee.emp_code %>
                                                    <%= image_tag(nominee.companies.last.logo.url, height: '12', width: '12') %>
                                            </div>
                                            <div class="col-md-12">
                                                <% if nomination.state == 'approved' %>
                                                    <p>Approved</p>
                                                <% else %>
                                                    <div class="col-md-4">
                                                        <button class='btn btn-warning btn-sm' onclick="pushback(<%= nomination.id %>)"> PB <i class='material-icons'>done</i></button>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <button class='btn btn-success btn-sm' onclick="approve(<%= nomination.id %>)"> A <i class='material-icons'>done</i></button>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <button class='btn btn-danger btn-sm' onclick="reject(<%= nomination.id %>) ">R <i class='material-icons'>clear</i></button>
                                                    </div>
                                                <% end %>
                                            </div>
                                        </div>
                                    </div>
                                <% end %>
                            </div>
                            <div class='col-md-6'>
                                <h4>Comments</h4>
                                <%= raw(@most_innovative_employee_verdict) %>
                            </div>
                        </div>
                    </div>
                    <div id="menu3" class="tab-pane fade">
                        <h3>The Best Cross-Functional Team</h3>
                        <div class='row'>
                            <div class='col-md-6'>
                                <h4>Winners</h4>
                                <% @best_team_nominations.each_with_index do |nomination, index| %>
                                    <div class='col-md-12'>
                                        <div class='card'>
                                            <div class='card-header card-header-middle' data-background-color="purple">
                                                <h4>Team <%= index + 1 %></h4>
                                            </div>
                                            <div class='card-content'>
                                                <div class='row'>
                                                    <% nomination.nominees.each_with_index do |nominee, index| %>
                                                        <div class='col-md-4'>
                                                            <p>
                                                                <%= "#{nominee.user.employee.name} (#{nominee.user.employee.emp_code})" %>
                                                                <%= image_tag(nominee.user.companies.last.logo.url, height: '12', width: '12') %>
                                                            </p>
                                                        </div>
                                                    <% end %>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <% if nomination.state == 'approved' %>
                                            <p>Approved</p>
                                        <% else %>
                                            <div class="col-md-4">
                                                <button class='btn btn-warning btn-sm' onclick="pushback(<%= nomination.id %>)"> Pushback <i class='material-icons'>done</i></button>
                                            </div>
                                            <div class="col-md-4">
                                                <button class='btn btn-success btn-sm' onclick="approve(<%= nomination.id %>)"> Approve <i class='material-icons'>done</i></button>
                                            </div>
                                            <div class="col-md-4">
                                                <button style="float:right;" class='btn btn-danger btn-sm' onclick="reject(<%= nomination.id %>) ">Reject <i class='material-icons'>clear</i></button>
                                            </div>
                                        <% end %>
                                       
                                    </div>
                                <% end %>
                            </div>
                            <div class='col-md-6'>
                                <h4>Comments</h4>
                                <%= raw(@best_team_verdict) %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Accept/Reject Modal-->
<div id="myModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>
        <div class='row'>
            <div class='col-md-12'>
                <h5>Reason/Comments for <span class='action_mode'></span></h5>
                <textarea name='comments' id='comments'></textarea>
            </div>
            
        </div>
        <br>
        <button name='action_button' class='btn pull-right' onclick="doAction()"></button>
    </div>
</div>

<script src="https://cdn.ckeditor.com/4.13.0/standard/ckeditor.js"></script>
<script>
    $(document).ready(function() {
        //$('.datatable').datatable();
        CKEDITOR.replace('comments');
        $('select').select2({'placeholder':'Select Members'});
    });

    var span = document.getElementsByClassName("close")[0];
    var modal = document.getElementById("myModal");
    span.onclick = function() {
        modal.style.display = "none";
    }
    window.onclick = function(event) {
        if (event.target == modal) {
        modal.style.display = "none";
        }
    }
    function showModal() {
        modal.style.display = "block";
    }

    function closeModal() {
        modal.style.display = "none";
    }

    function doSwitch(mode){
        if(mode=='all'){
            $('.tab').parent().addClass('active');
            $('#menu1').addClass('in active');
            $('#menu2').addClass('in active');
            $('#menu3').addClass('in active');
            $('#home').addClass('in active');
        }else{
        $('.tab-pane').removeClass('in active');
        $('#'+mode).addClass('in active');
        $('.tab').parent().removeClass('active');
        $('#btn'+mode).parent().addClass('active');
        }
    }
    var nomination_id = -1;
    var action_mode = '';
    
    function approve(id) {
        nomination_id = id;
        action_mode = 'a';
        makeup();
    }

    function reject(id) {
        nomination_id = id;
        action_mode = 'r';
        makeup();
    }

    function pushback(id) {
        nomination_id = id;
        action_mode = 'p';
        makeup();
    }

    function makeup() {
        if(action_mode == 'a') {
            $('.action_mode').html("Approval");
            $('button[name=action_button]').removeClass('btn-danger').removeClass('btn-warning').addClass('btn-success').html("Approve");
        }else if(action_mode == 'p') {
            $('.action_mode').html("Pushback");
            $('button[name=action_button]').removeClass('btn-danger').removeClass('btn-success').addClass('btn-warning').html("Pushback");
        } else {
            $('.action_mode').html("Rejection");
            $('button[name=action_button]').removeClass('btn-success').removeClass('btn-warning').addClass('btn-danger').html("Reject");
        }
        showModal();
    }

    function doAction() {
        // var list_of_memebers = $('select[name=subcommittee_list]').val();
        var comments = CKEDITOR.instances.comments.getData();
        var url = '/nominations/' + nomination_id + '/chairman_approval';
        closeModal();
        // $('#'+nomination_id).fadeOut();
        if(action_mode == 'a'){
            var data = {
                reason: comments,
                action_mode: 'approve'
            }
            $.ajax({
                type: "POST",
                url: url,
                data: JSON.stringify(data),
                dataType: 'json',
                contentType: 'application/json',
                success: function (data) {
                    closeModal();
                    CKEDITOR.instances.comments.setData('');
                    $.notify("Nomination Approved","success");
                },
            });
        } else if(action_mode == 'p') {
            var data = {
                reason: comments,
                action_mode: 'pushback'
            }
            $.ajax({
                type: "POST",
                url: url,
                data: JSON.stringify(data),
                dataType: 'json',
                contentType: 'application/json',
                success: function (data) {
                    closeModal();
                    CKEDITOR.instances.comments.setData('');
                    $.notify("Nomination Pushedback","success");
                },
            });
        } else {
            var data = {
                reason: comments,
                action_mode: 'reject'
            }
            $.ajax({
                type: "POST",
                url: url,
                data: JSON.stringify(data),
                dataType: 'json',
                contentType: 'application/json',
                success: function (data) {
                    closeModal();
                    CKEDITOR.instances.comments.setData('');
                    $.notify("Nomination Rejected","success");
                },
            });
        }

    }

    function submitVerdict() {
        var comments = CKEDITOR.instances.comments.getData();
        if(comments) {
        //$.ajax on success
            $.notify("Comment Updated Successfully","success")
        } else {
            $.notify("Please Enter Comment");
        }
    }
</script>
