<p id="notice"><%= notice %></p>

<div class="container-fluid" style="text-align: left;">
    <h3 style="padding:10px;font-weight: bolder;">
        Sub-Commitee's Dashboard
    </h3>
</div>

<div class="content" style="margin-top:0px; min-height: 600px !important;">
    <div class="container-fluid" id="">
        <div class='card'>
            <div class='card-header' data-background-color=blue>
                <ul class="nav nav-tabs">
                    <li class='active'><a data-toggle="tab" class='tab' id='btnhome'  onclick='doSwitch("home")'>The Most Inspiring Leader</a></li>
                    <li><a data-toggle="tab" class='tab' id='btnmenu1' onclick='doSwitch("menu1")'>The Best Employee</a></li>
                    <li><a data-toggle="tab" class='tab' id='btnmenu2'  onclick='doSwitch("menu2")'>The Most Innovative Employee</a></li>
                    <li><a data-toggle="tab" class='tab' id='btnmenu3' onclick='doSwitch("menu3")'>The Best Cross-Function Team</a></li>
                </ul>
            </div>
            <div class='card-content'>
                <div class="tab-content">
                    <div id="home" class="tab-pane fade in active">
                        <h3>The Most Inspiring Leader</h3>
                        <div class='row'>
                            <div class='col-md-12'>
                            <table class='table table-bordered datatable'>
                                <thead>
                                    <th>Nominee Information</th>
                                    <th>Nominators</th>
                                    <th>Average Points (Out of 18)</th>
                                    <th>Award Towards</th>
                                    <th>Justification & Attachments</th>
                                    <th>Action</th>
                                </thead>
                                <tbody>
                                    <% @most_inspiring_leaders_nominations.each do |nomination| %>
                                        <tr id=<%= "nomination_#{nomination.id}"%>>
                                            <% nominee = nomination.nominees.last.user %>
                                            <td>
                                                <p>Name : <%= nominee.employee.name %></p>
                                                <p>Employee ID : <%= nominee.employee.emp_code %></p>
                                                <p>DOJ : 15-06-2017</p>
                                                <p>Reporting Manager : <%= nominee.employee.reporting_manager %></p>
                                                <p>Department : <%= nominee.employee.department %></p>
                                                <p>Section : <%= nominee.employee.unit %></p>
                                                <p>SBU : <%= nominee.employee.sbu %></p>
                                                <p>Location :  <%= nominee.employee.location %></p>
                                            </td>
                                            <td><%= "#{User.find(nomination.nominator_id).employee.name} (#{User.find(nomination.nominator_id).employee.emp_code})" %></td>
                                            <td class='action_td'><h2><%= nomination.ratings.map(&:value).compact.reduce(&:+)%></h2></td>
                                            <td><%= raw(nomination.summary) %></td>
                                            <td class='action_td'>
                                                                                                   <button class='btn btn-primary btn-sm' onclick='openJustification(<%= nomination.id %>)'><i class='material-icons'>remove_red_eye</i></button><br>

                                            </td>
                                            <td class='action_td'>
                                                <% if nomination.state != 'l2_review_pending' %>
                                                
                                                    <% if nomination.state != 'rejected' %>
                                                        <% if current_user.role_masters.map(&:name).include?('l1_rep') %>
                                                        <button class='btn btn-warning btn-sm' onclick="pushback(<%= nomination.id %>)"> <i class='material-icons'>undo</i> Pushback </button>
                                                        <br>
                                                        <button class='btn btn-success btn-sm' onclick="approve(<%= nomination.id %>)"> Approve <i class='material-icons'>done</i></button>
                                                        <br>
                                                        <button class='btn btn-danger btn-sm' onclick="reject(<%= nomination.id %>) ">Reject <i class='material-icons'>clear</i></button>
                                                        <% end %>
                                                    <% else %>
                                                        <h5>Rejected</h5>
                                                        <%= raw(nomination.l1_rejection_reason)%>
                                                    <% end %>
                                                <% else %>
                                                    <h5>Approved</h5>
                                                    <%= raw(nomination.l1_approval_reason)%>
                                                <% end %>
                                            </td>
                                        </tr>
                                    <% end %>
                                </tbody>
                            </table>
                            </div>
                        </div>
                    </div>

                    <div id="menu1" class="tab-pane fade">
                        <h3>The Best Employee</h3>
                        <div class='row'>
                            <div class='col-md-12'>
                            <table class='table table-bordered datatable'>
                                <thead>
                                    <th>Nominee Information</th>
                                    <th>Nominators</th>
                                    <th>Average Points (Out of 18)</th>
                                    <th>Award Towards</th>
                                    <th>Justification & Attachments</th>
                                    
                                    <th>Action</th>
                                </thead>
                                <tbody>
                                    <% @best_employee_nominations.each do |nomination| %>
                                        <tr id=<%= "nomination_#{nomination.id}"%>>
                                            <% nominee = nomination.nominees.last.user %>
                                            <td>
                                                <p>Name : <%= nominee.employee.name %></p>
                                                <p>Employee ID : <%= nominee.employee.emp_code %></p>
                                                <p>DOJ : 15-06-2017</p>
                                                <p>Reporting Manager : <%= nominee.employee.reporting_manager %></p>
                                                <p>Department : <%= nominee.employee.department %></p>
                                                <p>Section : <%= nominee.employee.unit %></p>
                                                <p>SBU : <%= nominee.employee.sbu %></p>
                                                <p>Location :  <%= nominee.employee.location %></p>
                                            </td>
                                            <td><%= "#{User.find(nomination.nominator_id).employee.name} (#{User.find(nomination.nominator_id).employee.emp_code})" %></td>
                                            <td class='action_td'><h2><%= nomination.ratings.map(&:value).compact.reduce(&:+)%></h2></td>
                                            <td><%= raw(nomination.summary) %></td>
                                            <td class='action_td'>
                                                        <button class='btn btn-primary btn-sm' onclick='openJustification(<%= nomination.id %>)'><i class='material-icons'>remove_red_eye</i></button><br>
                                            </td>
                                            <td class='action_td'>
                                                <% if nomination.state != 'l2_review_pending' %>
                                                    <% if nomination.state != 'rejected' %>
                                                        <% if current_user.role_masters.map(&:name).include?('l1_rep') %>
                                                        <button class='btn btn-warning btn-sm' onclick="pushback(<%= nomination.id %>)"> <i class='material-icons'>undo</i> Pushback </button>
                                                        <br>
                                                        <button class='btn btn-success btn-sm' onclick="approve(<%= nomination.id %>)"> Approve <i class='material-icons'>done</i></button>
                                                        <br>
                                                        <button class='btn btn-danger btn-sm' onclick="reject(<%= nomination.id %>) ">Reject <i class='material-icons'>clear</i></button>
                                                        <% end %>
                                                    <% else %>
                                                        <h5>Rejected</h5>
                                                        <%= raw(nomination.l1_rejection_reason)%>
                                                    <% end %>
                                                <% else %>
                                                    <h5>Approved</h5>
                                                    <%= raw(nomination.l1_approval_reason)%>
                                                <% end %>
                                            </td>
                                        </tr>
                                    <% end %>
                                </tbody>
                            </table>
                            </div>
                        </div>
                    </div>

                    <div id="menu2" class="tab-pane fade">
                        <h3>The Most Innovative Employee</h3>
                        <div class='row'>
                            <div class='col-md-12'>
                                <table class='table table-bordered datatable'>
                                    <thead>
                                        <th>Nominee Information</th>
                                        <th>Nominators</th>
                                        <th>Average Points (Out of 18)</th>
                                        <th>Award Towards</th>
                                        <th>Justification & Attachments</th>
                                        <th>Action</th>
                                    </thead>
                                    <tbody>
                                        <% @most_innovative_employee_nominations.each do |nomination| %>
                                            <tr id=<%= "nomination_#{nomination.id}"%>>
                                                <% nominee = nomination.nominees.last.user %>
                                                <td>
                                                    <p>Name : <%= nominee.employee.name %></p>
                                                    <p>Employee ID : <%= nominee.employee.emp_code %></p>
                                                    <p>DOJ : 15-06-2017</p>
                                                    <p>Reporting Manager : <%= nominee.employee.reporting_manager %></p>
                                                    <p>Department : <%= nominee.employee.department %></p>
                                                    <p>Section : <%= nominee.employee.unit %></p>
                                                    <p>SBU : <%= nominee.employee.sbu %></p>
                                                    <p>Location :  <%= nominee.employee.location %></p>
                                                </td>
                                                <td><%= "#{User.find(nomination.nominator_id).employee.name} (#{User.find(nomination.nominator_id).employee.emp_code})" %></td>
                                                <td class='action_td'><h2><%= nomination.ratings.map(&:value).compact.reduce(&:+)%></h2></td>
                                                <td><%= raw(nomination.summary) %></td>
                                                <td class='action_td'>
                                                    <button class='btn btn-primary btn-sm' onclick='openJustification(<%= nomination.id %>)'><i class='material-icons'>remove_red_eye</i></button><br>
                                                </td>
                                                <td class='action_td'>
                                                    <% if nomination.state != 'l2_review_pending' %>
                                                        <% if nomination.state != 'rejected' %>
                                                            <% if current_user.role_masters.map(&:name).include?('l1_rep') %>
                                                            <button class='btn btn-warning btn-sm' onclick="pushback(<%= nomination.id %>)"><i class='material-icons'>undo</i> Pushback </button>
                                                            <br>
                                                            <button class='btn btn-success btn-sm' onclick="approve(<%= nomination.id %>)"> Approve <i class='material-icons'>done</i></button>
                                                            <br>
                                                            <button class='btn btn-danger btn-sm' onclick="reject(<%= nomination.id %>) ">Reject <i class='material-icons'>clear</i></button>
                                                            <% end %>
                                                        <% else %>
                                                            <h5>Rejected</h5>
                                                            <%= raw(nomination.l1_rejection_reason)%>
                                                        <% end %>
                                                    <% else %>
                                                        <h5>Approved</h5>
                                                        <%= raw(nomination.l1_approval_reason)%>
                                                    <% end %>
                                                </td>
                                            </tr>
                                        <% end %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div id="menu3" class="tab-pane fade">
                        <h3>The Best Cross-Functional Team</h3>
                        <div class='row'>
                            <div class='col-md-12'>
                                <table class='table table-bordered datatable'>
                                    <thead>
                                        <th>Nominee Information</th>
                                        <th>Nominators</th>
                                        <th>Average Points (Out of 18)</th>
                                        <th>Award Towards</th>
                                        <th>Justification & Attachments</th>
                                        <th>Action</th>
                                    </thead>
                                    <tbody>
                                        <% @best_team_nominations.each do |nomination| %>
                                            <tr id=<%= "nomination_#{nomination.id}"%>>
                                                <td>
                                                    <% nomination.nominees.each_with_index do |nominee, index| %>
                                                        <% nominee = nominee.user %>
                                                        <p>
                                                            <b><%= index+1 %>. <%= nominee.employee.name %></b> (<%= nominee.employee.emp_code %>)<br>
                                                            <%= nominee.employee.department %>
                                                        </p>
                                                    <% end %>
                                                </td>
                                                <td><%= "#{User.find(nomination.nominator_id).employee.name} (#{User.find(nomination.nominator_id).employee.emp_code})" %></td>
                                                <td class='action_td'><h2><%= nomination.ratings.map(&:value).compact.reduce(&:+)%></h2></td>
                                                <td><%= raw(nomination.summary) %></td>
                                                <td class='action_td'>
                                                                                                        <button class='btn btn-primary btn-sm' onclick='openJustification(<%= nomination.id %>)'><i class='material-icons'>remove_red_eye</i></button><br>

                                                    </td>
                                                <td class='action_td'>
                                                    <% if nomination.state != 'l2_review_pending' %>
                                                        <% if nomination.state != 'rejected' %>
                                                            <% if current_user.role_masters.map(&:name).include?('l1_rep') %>
                                                            <button class='btn btn-warning btn-sm' onclick="pushback(<%= nomination.id %>)"> <i class='material-icons'>undo</i> Pushback </button>
                                                            <br>
                                                            <button class='btn btn-success btn-sm' onclick="approve(<%= nomination.id %>)"> Approve <i class='material-icons'>done</i></button>
                                                            <br>
                                                            <button class='btn btn-danger btn-sm' onclick="reject(<%= nomination.id %>) ">Reject <i class='material-icons'>clear</i></button>
                                                            <% end %>
                                                        <% else %>
                                                            <h5>Rejected</h5>
                                                            <%= raw(nomination.l1_rejection_reason)%>
                                                            <%= raw(nomination.l1_approval_reason)%>
                                                        <% end %>
                                                    <% else %>
                                                        <h5>Approved</h5>
                                                        <%= raw(nomination.l1_approval_reason)%>
                                                    <% end %>
                                                </td>
                                            </tr>
                                        <% end %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <!-- Accept/Reject Modal-->
<div id="myModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>
        <div class='row'>
            <div class='col-md-6'>
                <h5>Reason/Comments for <span class='action_mode'></span></h5>
                <textarea name='comments' id='comments'></textarea>
            </div>
            <div class='col-md-6'>
                <h5><span class='action_mode'></span> recommended By</h5>
                <%= select_tag "subcommittee_list", options_from_collection_for_select(@commitee_members, 'user_id', 'emp_code'), {id: "commitee_member", multiple: true, style: 'width: 200px'} %>
            </div>
            <div class='col-md-12'>
                <button class='btn pull-right btn-warning' onclick="openPreview()">Preview Before Submit</button>
                <button name='action_button' class='btn pull-right' onclick="doAction()"></button>
            </div>
        </div>
    </div>

</div>
<div id='previewModal' class='modal'>
    <div class='modal-content'> 
        <div class='row'>
            <div class='col-md-12'>
            <h5>Preview Before Submission</h5>
            <table class="table table-bordered">
                                <thead>
                                   <tr><th>Nominee Information</th>
                                        <th>Average Points (Out of 18)</th>
                                        <th>Moderator’s Comment</th>
                                        <th>Level 1 Committee’s Recommendations</th>
                                        <th>Level 1 Committee’s Comment</th>
                                        <th>Justification &amp; Attachments</th>
                                    </tr></thead>
                                <tbody>
                                        <tr id="nomination_1">
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td> <div id='recommentdation' style='padding:20px;'></div></td>
                                            <td><div id='recommendationComment' style='padding:20px;'></div></td>
                                            <td></td>
                                        </tr>
                                </tbody>
                            </table>
           
            </div>
            <div class='pull-right'>
                <button class='btn btn-danger' onclick='closePreview()'>Close</button>
                 <button name='action_button' class='btn pull-right' onclick="doAction()"></button>
            </div>
        </div>
    </div>
</div>


<div id='justificationModal' class='modal'>
    <div class='modal-content'>
        <div class='row'>
            <h5>Justification</h5>
            <div class='col-md-12 justification-class'>
                <span id='justificationHere'></span>
            </div>
            <h5>Attachments</h5>
            <div id='attachmentHere'>
                <div class='row' >
                    <div class='col-md-4' id="attachment">
                        FILE NAME
                    </div>
                    <div class='col-md-2'>
                        <a id="attachement_url" href="#" class='btn btn-primary btn-sm' onclick="" >DOWNLOAD</a>
                    </div>
                </div>
            </div>
        <div class='col-md-12 pull-right'>
            <button class='btn btn-danger' onclick='closeJustification()'>Close</button>
        </div>
    </div>
</div>
</div>
<script src="https://cdn.ckeditor.com/4.13.0/standard/ckeditor.js"></script>
<script>
    $(document).ready(function() {
        //$('.datatable').datatable();
        CKEDITOR.replace('comments');
        $('#commitee_member').select2({'placeholder':'Select Members'});
    });
    var span = document.getElementsByClassName("close")[0];
    var modal = document.getElementById("myModal");
    var previewModal = document.getElementById("previewModal");
    var justificationModal = document.getElementById("justificationModal");
        span.onclick = function() {
        modal.style.display = "none";
    }
    window.onclick = function(event) {
        if (event.target == modal) {
        modal.style.display = "none";
        }
    }
    function showModal() {
        modal.style.display = "block";
    }

    function closeModal() {
        modal.style.display = "none";
    }

    function doSwitch(mode){
        $('.tab-pane').removeClass('in active');
        $('#'+mode).addClass('in active');
        $('.tab').parent().removeClass('active');
        $('#btn'+mode).parent().addClass('active');
    }
    var nomination_id = -1;
    var action_mode = '';
    
    function openJustification(id)
    {
        var url = '/nominations/' + id + '/justification'
        $.ajax({
            type: "GET",
            url: url,
            contentType: 'application/json',
            success: function (data) {
                var justification = data.justification;
                $('#justificationHere').html(justification);
                $('#attachment').html(data.attachment);
                $('#attachement_url').attr('href', data.url);
            },
        });
        justificationModal.style.display='block';
    }

    function closeJustification()
    {
        justificationModal.style.display='none';    
    }

    function approve(id) {
        nomination_id = id;
        action_mode = 'a';
        makeup();
    }

    function reject(id) {
        nomination_id = id;
        action_mode = 'r';
        makeup();
    }

    function pushback(id) {
        nomination_id = id;
        action_mode = 'p';
        makeup();
    }

    function makeup() {
        if(action_mode == 'a') {
            $('.action_mode').html("Approval");
            $('button[name=action_button]').removeClass('btn-danger').removeClass('btn-warning').addClass('btn-success').html("Approve");
        }else if(action_mode == 'p') {
            $('.action_mode').html("Pushback");
            $('button[name=action_button]').removeClass('btn-danger').removeClass('btn-success').addClass('btn-warning').html("Pushback");
        } else {
            $('.action_mode').html("Rejection");
            $('button[name=action_button]').removeClass('btn-success').removeClass('btn-warning').addClass('btn-danger').html("Reject");
        }
        showModal();
    }

    function openPreview()
    {
        var highlights = CKEDITOR.instances.comments.getData();
        $('#recommendationComment').html(highlights);
        var selected='';
        $('#commitee_member :selected').each(function(){
            selected = $(this).text()+"<br>";
            });
        $('#recommentdation').html(selected);
        previewModal.style.display = "block";
    }

    function closePreview()
    {
        previewModal.style.display = "none";
    }

    function doAction()
    {
        var comments = CKEDITOR.instances.comments.getData();
        var list_of_memebers = $('#commitee_member').val();
        var url = '/nominations/' + nomination_id + '/l1_approval'; 
        if(comments) {
            if(list_of_memebers != ''){
                $('#'+nomination_id).fadeOut();
                if(action_mode == 'a'){
                    var data = {
                        members: list_of_memebers,
                        comments: comments,
                        action_mode: 'approve'
                    }
                    $.ajax({
                        type: "POST",
                        url: url,
                        data: JSON.stringify(data),
                        dataType: 'json',
                        contentType: 'application/json',
                        success: function (data) {
                            //$.ajax on success
                            closeModal();
                            // $('#'+nomination_id).fadeOut();
                            $('#commitee_member').val(null).trigger('change');
                            CKEDITOR.instances.comments.setData('');
                            $.notify("Nomination Approved","success");
                        },
                    });
                }else if(action_mode == 'p'){
                    var data = {
                        members: list_of_memebers,
                        comments: comments,
                        action_mode: 'pushback'
                    }
                    $.ajax({
                        type: "POST",
                        url: url,
                        data: JSON.stringify(data),
                        dataType: 'json',
                        contentType: 'application/json',
                        success: function (data) {
                            closeModal();
                            $('#commitee_member').val(null).trigger('change');
                            CKEDITOR.instances.comments.setData('');
                            $.notify("Nomination Pushed-back","success");
                        },
                    });
                }  else {
                    var data = {
                        members: list_of_memebers,
                        comments: comments,
                        action_mode: 'reject'
                    }
                    $.ajax({
                        type: "POST",
                        url: url,
                        data: JSON.stringify(data),
                        dataType: 'json',
                        contentType: 'application/json',
                        success: function (data) {
                            //$.ajax on success
                            closeModal();
                            CKEDITOR.instances.comments.setData('');
                            $('#commitee_member').val(null).trigger('change');
                            $.notify("Nomination forwarded successfully","success");
                        },
                    });
                    $.notify("Nomination Rejected","success");
                } 
            } else {
                $.notify('Please Select Members');
            }
        } else {
            $.notify('Please Enter Comment');
        }
    }
</script>
