<%= form_with(model: nomination,id: 'nomination_form',local: true, :html => {:multipart => true} ) do |form| %> 
  <div class="container-fluid" id="main-form" data-action=<%= params[:action] %> data-id=<%= @nomination.id %>>
      <div class='card'>
          <div class='card-header' data-background-color='<%= @color %>'>
              <b><%= @award.title %></b>
          </div>
          <div class='card-content'>
              <div class='row'>
                  <div class='col-md-12'>
                      <div class="form-group label">
                          <!--<label class="control-label ">Select Award Type</label>-->
                          <% if params[:action] != "team_nomination" %>
                            <%# <%= form.select :award_id, options_from_collection_for_select(@awards, 'id', 'title'), {}, {class: "form-control"}%>
                            <%#= form.select :award_id, options_from_collection_for_select(@awards, 'id', 'title'), {}, {:disabled => true, class: "form-control"}%>
                            <%= form.hidden_field :award_id, :value => @award.id %>
                            <%= form.hidden_field :nomination_type, value: "individual"%>
                          <% else %>
                            <%#= form.select :award_id, options_from_collection_for_select(@awards, 'id', 'title'), {}, {:disabled => true, class: "form-control"}%>
                            <%= form.hidden_field :award_id, :value => @award.id %>
                            <%= form.hidden_field :nomination_type, value: "team"%>
                          <% end %>
                      </div>
                  </div>
                  <div class='col-md-12'>
                      <div class="form-group label">
                        <%= form.fields_for :nominees, @nomination.nominees do |s| %>
                          <label class="control-label ">Select Nominee</label>
                          <%#= s.select :user_id, options_from_collection_for_select(@users, 'id', "emp_code"), {include_hidden: false}, {:multiple => false, class: "form-control"}%>
                          <% if params[:action] == 'new' or @nomination.nomination_type == "individual" %>
                            <%= s.select :user_id, options_for_select(@users, selected: @nomination.nominees.last.user_id), {include_hidden: false}, {:multiple => false, class: "form-control"}%>
                          <% else %>
                            <%= s.select :user_id, options_for_select(@users, selected: @nomination.nominees.map(&:user_id)), {include_hidden: false}, {:multiple => true, class: "form-control"}%>
                          <% end %>
                        <% end %>
                      </div>
                  </div>
                  <div class='col-md-6'>
                      <div class="form-group label">
                          <label class="control-label ">Nominator</label>
                          <%= form.hidden_field :nominator_id, value: current_user.id %>
                          <%= form.hidden_field :nominator_type, value: current_user.class.to_s %>
                          <input type='text' class='form-control disabled' disabled value='<%= current_user.employee.name %>'>
                      </div>
                  </div>
                  <div class='col-md-6'>
                      <div class="form-group label">
                          <label class="control-label ">Date</label>
                          <%= form.hidden_field :date, value: Date.today %>
                          <input type='text' class='form-control disabled' disabled value='<%= Date.today.strftime("%d-%m-%Y")%>'>
                      </div>
                  </div>
                  
                  
                  <div class='col-md-12' id='aw1'>
                      <h5>Please answer the following</h5>
                      <table class='table table-bordered' id='rating-table'>
                          <%= form.fields_for :ratings do |rating| %>
                          <tr>
                              <td style='width: 50%'>
                                <%= rating.object.title %>
                                <%= rating.hidden_field :title, value: rating.object.title %>
                              </td>
                              <td>
                                  <div class="row">
                                      <div class='col-md-4'>
                                        Excellent (3 Pts) <%= rating.radio_button(:value, 3) %>
                                      </div>
                                      <div class='col-md-4'>
                                        Very Good (2 Pts) <%= rating.radio_button(:value, 2) %>
                                      </div>
                                      <div class='col-md-4'>
                                        Good (1 Pt) <%= rating.radio_button(:value, 1) %>
                                      </div>
                                  </div>
                              </td>
                          </tr>
                          <% end %>
                          <% unless params[:action] == "new" %>
                            <tr class='table_total_tr'>
                                <td style='width: 50%'>Total</td>
                                <td id='aw1_total'>0</td>
                            </tr>
                          <% end %>
                      </table>
                  </div>
                  
                  <div class='col-md-12'>
                    <h5>Click on success drivers demonstrated by the nominee</h5>
                    <div class='form-group'>
                    <div class="row">
                        <div class='col-md-4'>
                            <%= form.check_box :innovativeness, checked: @nomination.innovativeness %> Innovative
                        </div>
                         <div class='col-md-4'>
                            <%= form.check_box :agility %> Agility
                        </div>
                         <div class='col-md-4'>
                            <%= form.check_box :responsiveness %> Responsive
                        </div>
                         <div class='col-md-4'>
                            <%= form.check_box :performance_driven %> Performance driven
                        </div>
                         <div class='col-md-4'>
                            <%= form.check_box :ownership %> Ownership
                        </div>
                        
                    </div>
                        
                    </div>
                  </div>
                  
                  <div class="col-md-12">
                    <h5>Please answer the following</h5>
                    <table class='table table-bordered' id='rating-table'>
                          <tr>
                            <th>Assessment Params</th>
                            <th>Question</th>
                            <th>Feedback</th>
                            <th>Value Addition</th>
                            <th>Attachments</th>
                          </tr>
                          <%= form.fields_for :assessments do |assessment| %>
                          <tr>
                              <td>
                                <%= assessment.object.assessment_param%>
                                <%= assessment.hidden_field :assessment_param, value: assessment.object.assessment_param %>
                              </td>
                              <td style="width:40%;">  
                                <%= assessment.object.statement%>
                                <%= assessment.hidden_field :statement, value: assessment.object.statement %>
                              </td>
                              <td style="width:40%;">
                                <%= assessment.text_area :feedback, size: "30x10"%>
                              </td>
                              <td>
                                <%= assessment.text_field :value_addition%>
                              </td>
                              <td>
                                <%= assessment.fields_for :assessment_attachments, assessment.object.assessment_attachments do |p| %>
                                    <%= render 'nomination_attachments', p: p%>
                                    <!--
                                    <div class="field">
                                        <%#= p.label :attachment %><br>
                                        <%#= p.file_field :attachment %>
                                    </div>
                                    -->
                                <% end %>
                              </td>
                          </tr>
                         
                          <% end %>
                      </table>
                  </div>

                  <div class='col-md-12'>
                        <h5>Enter Justification</h5>
                        Please Enter Atleast 50 words.  
                        <%= form.text_area :justification %>
                    </div>
                    <div class='col-md-12'>
                        <h5>Add Attachments</h5>
                        <%= form.fields_for :nomination_attachments, @nomination.nomination_attachments do |p| %>
                            <%= render 'nomination_attachments', p: p%>
                            <!--
                            <div class="field">
                                <%#= p.label :attachment %><br>
                                <%#= p.file_field :attachment %>
                            </div>
                            -->
                        <% end %>
                        <br>
                        <br>
                        <%= link_to_add_fields 'Add More Attachments', form, :nomination_attachments%>
                    </div>
                    <div class='card-footer'>

                        <%= form.submit "Add Nomination", class: 'btn btn-success pull-right' %>
                    </div>
              </div>
          </div>
      </div>
  </div>
<% end %>
<script src="https://cdn.ckeditor.com/4.13.0/standard/ckeditor.js"></script>
<script>
    $(document).ready(function () {
        CKEDITOR.replace('nomination[justification]');
        $('select').select2();

        //Filling up ratings once
        var awardId = $('#nomination_award_id').val();
        $('.hidden').show();
        if($('#main-form').data('action') !== 'edit') {
            $.get('/nominations/load_rating_form/' + awardId + '/' + $('#main-form').data('id'), function(data, status){
                $('#rating-table').html(data);
                calculate_total();
            });
        }

        CKEDITOR.instances.nomination_justification.on("blur",function(e){
            var data = CKEDITOR.instances.nomination_justification.getData();
            if(data.split(' ').length < 50){
                alert("More Detailing Required");
                CKEDITOR.instances.nomination_justification.focus();
            }

       });

       $("[data-form-prepend]").click(function(e) {
            var obj = $($(this).attr("data-form-prepend"));
            obj.find("input, select, textarea").each(function() {
                $(this).attr("name", function() {
                return $(this)
                    .attr("name")
                    .replace("new_record", $('input:file').length);
                });
            });
            obj.insertBefore(this);
            return false;
        });
    });

    $('#nomination_award_id').on('change', function() {
        var awardId = $(this).find(":selected").val();
        $('.hidden').show();
        $.get('/nominations/load_rating_form/' + awardId + '/' + $('#main-form').data('id'), function(data, status){
            $('#rating-table').html(data);
            calculate_total();
        });
    });
    $('#nomination_nominees_attributes_0_user_id').on('change', function(){
        <% if params[:action] == 'team_nomination' %>
            if ($('#nomination_nominees_attributes_0_user_id').select2('data').length < 2) {
                // alert("Need at least one group");
                // event.preventDefault();
                $.notify("Need minimum two nominess","warning");
            }
        <% end %>
    })

    function calculate_total(){
        $('input[type=radio]').on("change", function() { 
            var total = 0;
            $('input[type="radio"]:checked').each(function() {
                total = total + parseInt($(this).val())
            }); 
            console.log(total)
            $("#aw1_total").html(total);
        });
    }
   
</script>