<div class="sidebar" data-color="blue" style="background-color:#fff;">
    <div class="logo">
        <a href="https://dnlapps.dnlpune.com/gurukul/batch" class="simple-text">
            <%= image_tag("logo.png", width: "200px") %>
        </a>
    </div>
    <div class="sidebar-wrapper">
        <center>
            
        </center>

        <ul class="nav">
            <li id="" class="active">
                <center>
                    <% current_employee = current_user.employee %>
                    <table class="mTable" width="100%" style="margin-left: 5px;">
                        <tbody>
                            <tr>
                                <td class="title">Name</td>
                                <td><%= current_employee.name %></td>
                            </tr>
                            <tr>
                                <td class="title">Emp Code</td>
                                <td><%= current_employee.emp_code %></td>
                            </tr>
                            <tr>
                                <td class="title">SBU</td>
                                <td><%= current_employee.sbu %></td>
                            </tr>
                            <tr>
                                <td class="title">Unit</td>
                                <td><%= current_employee.unit %></td>
                            </tr>
                            <tr>
                                <td class="title">Dept.</td>
                                <td><%= current_employee.department %></td>
                            </tr>
                            <tr>
                                <td class="title">Location</td>
                                <td><%= current_employee.location %></td>
                            </tr>
                            <tr>
                                <td class="title">Reporting Manager</td>
                                <td><%= current_employee.reporting_manager %></td>
                            </tr>
                        </tbody>
                    </table>
                </center>
            </li>
            
           
            <li id="" class="active" data-color="green">
                <%= link_to '/user_dashboard' do %>
                     <i class="material-icons">dashboard</i> 
                     <b><p>My Nominations</p></b>
                <% end %>

            <% if current_user.hr? %>
                    <%= link_to '/' do %>
                        <i class="material-icons">call_split</i> 
                        <b><p>Moderator Dashboard</p></b>
                    <% end %>
                <% end %>

                <% if current_user.l1? %>
                    <%= link_to '/l1_dashboard' do %>
                        <i class="material-icons">done_outline</i> 
                        <b><p>Committee Dashboard</p></b>
                    <% end %>
                <% end %>

                <% if current_user.l2? %>
                    <%= link_to '/l2_dashboard' do %>
                        <i class="material-icons">done_outline</i> 
                        <b><p>Apex Dashboard</p></b>
                    <% end %>
                <% end %>
            </li>
        </ul>
    </div>
</div>