<!DOCTYPE html>
<html>
  <head>
    <title>Rms</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
        <div class="limiter">

          <div class="container-login100">
              <%= yield %>
              
          </div>

      </div>
  </body>
  <script>
    $(document).ready(function () {
        $('.cover').slideUp(2000);
    });
  </script>
</html>
